$bgcolor: #FFFFFF;
$labelcolor: #666666;
$seperatorcolor: #6666663D;
$inputcolor: #222222;
$accentcolor: #1F7A54;
$buttonbgcolor: #3FD28B;
$buttoncolor: #25313F;
$buttonshadow: 0px 3px 5px #0000003D;
$divshadow: 0px 4px 6px #0000003D;
$dropdowntitlecolor: #DBEFFF;
$fontsize12: 12px;
$fontsize14: 14px;
$fontsize16: 16px;
$fontsize20: 20px;
$fontsize22: 22px;
$fontsize24: 24px;


.job-info-div {
    background-color: $bgcolor;
    margin: 24px 24px 0 24px;
    padding: 16px;
    box-shadow: $divshadow;

    .job-title-div {
        display: flex;
        color: $inputcolor;
        margin-bottom: 16px;

        .job-title {
            font-size: $fontsize22;
        }

        .apply-button {
            margin-left: auto;
            padding: 5px 16px;
            border: none;
            box-shadow: $buttonshadow;
            color: $buttoncolor;
            background-color: $buttonbgcolor;

            &:hover {
                cursor: pointer;
                transform: translateY(-0.2em);
            }
        }
    }

    .date-time-div {
        font-size: $fontsize12;
        color: $labelcolor;

        .date-time-line {
            display: flex;
            align-items: center;
            margin-top: 8px;

            .date-time {
                font-size: $fontsize14;
                color: $inputcolor;
            }

            .pipe {
                margin: 0 5px;
            }

            .location-pin-icon {
                width: 14px;
                margin-right: 5px;
            }
        }
    }

    .line-seperator {
        width: 100%;
        background-color: $seperatorcolor;
        height: 1px;
        margin: 16px 0;
    }

    .job-roles {
        color: $accentcolor;
        font-size: $fontsize14;
        display: flex;
        margin-bottom: 8px;

        .role-name {
            margin-right: 21px;
        }
    }
}

.pre-requisite-div {
    background-color: $bgcolor;
    margin: 0 24px 24px 24px;
    box-shadow: $divshadow;

    .pre-req-header {
        background-color: $dropdowntitlecolor;
        display: flex;
        align-items: center;
        cursor: pointer;

        .pre-req-title {
            font-size: $fontsize16;
            padding: 10px 16px;
        }

        .expand-icon {
            margin-left: auto;
            padding: 10px 16px;
            border-left: 1px solid $seperatorcolor;
            display: flex;

            .rotated-image {
                transition: transform 0.5s ease;
            }

            .rotated {
                transform: rotate(180deg);
            }
        }
    }

    .job-pre-requisite {
        margin: 0 24px 24px 24px;
        overflow: hidden;
        height: 0;

        .desc-title {
            font-size: $fontsize12;
            color: $labelcolor;
            margin-top: 16px;

            .desc {
                font-size: $fontsize14;
                color: $inputcolor;
                margin: 16px 0;
            }

            .line-seperator {
                width: 100%;
                background-color: $seperatorcolor;
                height: 1px;
            }
        }
    }

    .invisible {
        transition: all 0.5s ease;
    }

    .invisible {
        height: auto;
    }
}

.preference-div {
    background-color: $bgcolor;
    margin: 0 24px;
    padding: 16px;
    box-shadow: $divshadow;

    .preference-title {
        color: $inputcolor;
        font-size: $fontsize16;
        margin-bottom: 24px;
    }

    .time-slots-div {
        color: $labelcolor;
        font-size: $fontsize12;
        margin-bottom: 16px;

        .slot {
            color: $inputcolor;
            font-size: $fontsize16;
            display: flex;
            align-items: center;
            margin-top: 16px;

            .slot-input {
                accent-color: $accentcolor;
                width: 20px;
                height: 20px;
                margin-right: 8px;
            }
        }
    }

    .line-seperator {
        width: 100%;
        background-color: $seperatorcolor;
        height: 1px;
    }

    .roles-div {
        margin-top: 16px;
        margin-bottom: 16px;
        color: $labelcolor;
        font-size: $fontsize12;

        .role {
            color: $inputcolor;
            font-size: $fontsize16;
            display: flex;
            align-items: center;
            margin-top: 16px;

            .role-input {
                accent-color: $accentcolor;
                width: 20px;
                height: 20px;
                margin-right: 8px;
            }
        }
    }

    .upload-resume-div {
        display: flex;
        align-items: center;
        margin-top: 16px;

        &:hover {
            cursor: pointer;
        }

        .upload-svg {
            margin-right: 8px;
        }

        .upload-label {
            color: $accentcolor;
            font-size: $fontsize14;
            text-transform: uppercase;
        }

        .file-name {
            height: 100%;
            overflow: hidden;
            color: $labelcolor;
            font-size: $fontsize12;
            margin-left: 8px;
            flex: 1;
            border: none;
            background-color: $bgcolor;
        }
    }
    .resume-input {
        display: none;
    }
}

.roles-desc-div{
    margin: 24px 24px 24px 24px;
}