<!-- <div class="JobContainer">
    <div class="JobTitle">

    </div>
    <div class="JobDateLocationContainer">
        <div class="JobDate">
            <label for="JobDateTime" class="JobDateLabel">Date & Time :</label>
            <div class="JobDateTime"></div>
        </div>
        <div class="JobLocation"></div>
    </div>
    <div class="DividingLine"></div>
    <div class="JobRoleContainer">
        <label class="JobRoleLabel">Job Roles :</label>
        <div class="JobRole">
            <img src="" class="JobRoleImage" alt="" />
            <div class="JobRoleName"></div>
        </div>
    </div>
    <div class="buttonContainer">
        <button type="button" class="viewbtn">
            VIEW MORE DETAILS
        </button>
    </div>
    <div class="expireDate">Expire in days</div>
</div> -->
<div class="JobContainer" *ngFor="let job of Job">
    <div class="JobTitle">
        {{job.JobTitle}}
    </div>
    <div class="JobDateLocationContainer">
        <label for="JobDate" class="JobDateLabel">Date & Time :</label>
        <div class="JobDate">
            <div class="JobDateTime">{{formatdate(job.JobStartDate)}} to {{formatdate(job.JobEndDate)}}</div>
            <div class="verticalline"></div>
            <div class="JobLocation">
                <img src="/assets/svgs/location-dot-solid.svg" class="locimg" alt="locationicon" />
                <div class="locationname">
                    {{job.JobLocation}}
                </div>
            </div>
        </div>
    </div>
    <div class="DividingLine"></div>
    <div class="JobRoleContainer">
        <label class="JobRoleLabel">Job Roles :</label>
        <div class="RoleContainer">
            <div class="JobRole" *ngFor="let role of job.JobRoles; let last = last">
                <img src="/assets/{{role.JobRoleName}}.png" class="JobRoleImage" alt="" />
                <div class="JobRoleName">{{role.JobRoleName}}</div>
                <div class="verticalline2" *ngIf="!last"></div>
            </div>

        </div>
    </div>
    <div class="JobSpecialMessage" *ngIf="job.JobSpecialMessage">
        {{job.JobSpecialMessage}}</div>
    <div class="buttonContainer">
        <button type="button" class="viewbtn" [routerLink]="['/jobs',job.JobId]">
            VIEW MORE DETAILS
        </button>
    </div>
    <div class="expireDate" *ngIf="job.JobExpiringRemainingDays>0">Expire in {{job.JobExpiringRemainingDays}} days</div>
</div>