<div class="green-tick">
    <img src="../../../../assets/svgs/check.svg" alt="tick" class="tick">
</div>
<div class="applied-div">
    <div class="congratulations-message">Congratulations ! You have successfully applied for the walk-in opportunity</div>
    <div class="line-seperator"></div>
    <div class="date-time-div">
        Date & Time of Walk-In :
        <div class="date">03rd July 2021</div>
        <div class="time">9:00 AM to 11:00 AM</div>
    </div>
    <div class="line-seperator"></div>
    <div class="venue-div">
        Venue of Walk-In :
        <div class="venue">Zeus Systems Pvt. Ltd.<br>
            1402, 14th Floor, Tower B, Peninsula Business Park. Ganpatrao Kadam Marg<br>
            Lower Parel (W) <br>
            Mumbai - 400 013 <br>
            Phone: +91-22-66600000</div>
    </div>
    <div class="line-seperator"></div>
    <div class="things-to-remember-div">
        THINGS TO REMEMBER :
        <div class="things-to-remember">- Please report 30 MINUTES prior to your reporting time.<br>- Download your Hall Ticket from below and carry it with you during your Walk-In.</div>
    </div>
    <div class="line-seperator"></div>
    <button class="download-button">DOWNLOAD HALL TICKET</button>
</div>