.edblueline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dbefff;
  margin: 0 2.4rem 0 2.4rem;
  height: 5.6rem;
}
.edblueline .edtitle {
  font-size: 1.6rem;
  margin-left: 1.6rem;
}
.edblueline .verline {
  color: #1f7a54;
  height: 5.6rem;
  align-items: center;
}
.edblueline .uparrow {
  padding: 1.6rem 1rem;
  width: 1.2rem;
  height: 2.4rem;
  text-align: left;
  letter-spacing: -0.06rem;
  color: #1f7a54;
  opacity: 1;
  border-left: 0.1rem solid rgba(51, 51, 51, 0.5);
}

.Edqualifications {
  margin: 0 2.4rem 2.4rem 2.4rem;
  padding: 2.4rem;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Edqualifications .arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("/assets/quantum screen assets/quantum screen assets/icons/arrow-down.svg");
  background-size: 3rem 2.5rem;
  background-position: right;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
.Edqualifications .customInput {
  border: none;
  border-bottom: 0.2rem solid rgba(102, 102, 102, 0.2);
  margin-top: 1.2rem;
  padding-bottom: 0.6rem;
  width: 20rem;
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 0;
  background-color: transparent;
  text-align: left;
  color: #222222;
  opacity: 1;
  letter-spacing: 0rem;
  outline: none;
  transition: border-color 0.3s ease;
}
.Edqualifications .customInput .option {
  padding-left: 0;
  margin-left: 0;
}
.Edqualifications .customInput1 {
  width: 95%;
}
.Edqualifications .data-div {
  margin-bottom: 4rem;
}
.Edqualifications .data-div input[type=number]::-webkit-inner-spin-button, .Edqualifications .data-div input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.Edqualifications .data-div .label {
  margin-left: 0.3rem;
  color: rgba(102, 102, 102, 0.8);
  -webkit-text-decoration: Titlecase;
          text-decoration: Titlecase;
  font-size: 1.2rem;
}
.Edqualifications .data-div .text-input {
  width: 95%;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 500;
  padding-bottom: 0.4rem;
  border: none;
  border-bottom: 0.2rem solid rgba(102, 102, 102, 0.2);
  margin-top: 1.2rem;
}
.Edqualifications .data-div .text-input ::-moz-placeholder {
  opacity: 1;
  color: #222222;
}
.Edqualifications .data-div .text-input ::placeholder {
  color: #222222;
}
.Edqualifications .data-div .text-input:focus {
  outline: none;
}
.Edqualifications .data-div .number-div {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.Edqualifications .data-div .plus {
  font-size: 1.6rem;
  align-items: center;
}
.Edqualifications .data-div .code-input {
  width: 2rem;
  text-align: left;
  font-size: 1.2rem;
  color: #222222;
  border: none;
  border-bottom: 0.2rem solid rgba(102, 102, 102, 0.2);
  margin-top: 1.2rem;
  margin-left: 0.8rem;
}
.Edqualifications .data-div .code-input:focus {
  outline: none;
}
.Edqualifications .data-div .phone-input {
  width: 9rem;
  text-align: left;
  font-size: 1.2rem;
  color: #222222;
  border: none;
  border-bottom: 0.2rem solid rgba(102, 102, 102, 0.2);
  margin-top: 1.2rem;
  margin-left: 0.8rem;
}
.Edqualifications .data-div .phone-input:focus {
  outline: none;
}
.Edqualifications .data-div .roles-options {
  display: flex;
  align-items: center;
  margin-top: 1.6rem;
}
.Edqualifications .data-div .roles-options .roles-checkbox {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.8rem;
  accent-color: #1f7a54;
}
.Edqualifications .data-div .roles-options .roles-label {
  font-size: 1.6rem;
}
.Edqualifications .data-div1 {
  grid-column: 1/-1;
  margin-bottom: 4rem;
}
.Edqualifications .data-div1 .label {
  width: 100%;
  margin-left: 0.3rem;
  color: rgba(102, 102, 102, 0.8);
  -webkit-text-decoration: Titlecase;
          text-decoration: Titlecase;
  font-size: 1.2rem;
}
.Edqualifications .data-div1 .text-input {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 500;
  padding-bottom: 0.4rem;
  border: none;
  border-bottom: 0.2rem solid rgba(102, 102, 102, 0.2);
  margin-top: 1.2rem;
}
.Edqualifications .data-div1 .text-input ::-moz-placeholder {
  opacity: 1;
  color: #222222;
}
.Edqualifications .data-div1 .text-input ::placeholder {
  color: #222222;
}
.Edqualifications .data-div1 .text-input:focus {
  outline: none;
}
.Edqualifications .data-div1 .number-div {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.Edqualifications .data-div1 .plus {
  font-size: 1.6rem;
  align-items: center;
}
.Edqualifications .data-div1 .code-input {
  width: 2rem;
  text-align: left;
  font-size: 1.2rem;
  color: #222222;
  border: none;
  border-bottom: 0.2rem solid rgba(102, 102, 102, 0.2);
  margin-top: 1.2rem;
  margin-left: 0.8rem;
}
.Edqualifications .data-div1 .code-input:focus {
  outline: none;
}
.Edqualifications .data-div1 .phone-input {
  width: 9rem;
  text-align: left;
  font-size: 1.2rem;
  color: #222222;
  border: none;
  border-bottom: 0.2rem solid rgba(102, 102, 102, 0.2);
  margin-top: 1.2rem;
  margin-left: 0.8rem;
}
.Edqualifications .data-div1 .phone-input:focus {
  outline: none;
}
.Edqualifications .data-div1 .roles-options {
  display: flex;
  align-items: center;
  margin-top: 1.6rem;
}
.Edqualifications .data-div1 .roles-options .roles-checkbox {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.8rem;
  accent-color: #1f7a54;
}
.Edqualifications .data-div1 .roles-options .roles-label {
  font-size: 1.6rem;
}/*# sourceMappingURL=style.css.map */