.flex-class {
  display: flex;
  flex-direction: column;
}
.flex-class .personal-info-div {
  margin: 0 24px 24px 24px;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 480fr 450fr;
}
.flex-class .personal-info-div .personal-info .data-div {
  margin-bottom: 40px;
}
.flex-class .personal-info-div .personal-info .data-div .label {
  color: #666666;
  font-size: 12px;
}
.flex-class .personal-info-div .personal-info .data-div .text-input {
  width: 100%;
  text-align: left;
  font-size: 16px;
  color: #222222;
  border: none;
  border-bottom: 1px solid #222222;
  margin-top: 12px;
}
.flex-class .personal-info-div .personal-info .data-div .text-input:focus {
  outline: none;
}
.flex-class .personal-info-div .personal-info .data-div .phone-input {
  width: 90px;
  text-align: left;
  font-size: 16px;
  color: #222222;
  border: none;
  border-bottom: 1px solid #222222;
  margin-top: 12px;
}
.flex-class .personal-info-div .personal-info .data-div .phone-input:focus {
  outline: none;
}
.flex-class .personal-info-div .personal-info .data-div .roles-options {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.flex-class .personal-info-div .personal-info .data-div .roles-options .roles-checkbox {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  accent-color: #1f7a54;
}
.flex-class .personal-info-div .personal-info .data-div .roles-options .roles-label {
  font-size: 16px;
}
.flex-class .personal-info-div .personal-info .upload-resume-div {
  display: flex;
  align-items: center;
}
.flex-class .personal-info-div .personal-info .upload-resume-div:hover {
  cursor: pointer;
}
.flex-class .personal-info-div .personal-info .upload-resume-div .upload-svg {
  margin-right: 8px;
}
.flex-class .personal-info-div .personal-info .upload-resume-div .resume-input {
  display: none;
}
.flex-class .personal-info-div .personal-info .upload-resume-div .upload-label {
  color: #1f7a54;
  font-size: 14px;
}
.flex-class .personal-info-div .personal-info .upload-resume-div .file-name {
  height: 100%;
  overflow: hidden;
  color: #666666;
  font-size: 12px;
  margin-left: 8px;
  flex: 1;
  border: none;
  background-color: #ffffff;
}
.flex-class .personal-info-div .personal-info .sendmeupdates-div {
  display: flex;
  align-items: center;
}
.flex-class .personal-info-div .personal-info .sendmeupdates-div .updates-checkbox {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  accent-color: #1f7a54;
}
.flex-class .personal-info-div .personal-info .sendmeupdates-div .updates-label {
  font-size: 16px;
}
.flex-class .personal-info-div .photo-upload {
  margin-left: auto;
}
.flex-class .personal-info-div .photo-upload .flex-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-class .personal-info-div .photo-upload .flex-div .profile-photo {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.flex-class .personal-info-div .photo-upload .flex-div .photo-input-label {
  cursor: pointer;
  margin: 16px 0 9px 0;
}
.flex-class .personal-info-div .photo-upload .flex-div .photo-input-label .photo-input {
  display: none;
}
.flex-class .personal-info-div .photo-upload .flex-div .photo-input-label .upload-label {
  color: #1f7a54;
  font-size: 14px;
}
.flex-class .personal-info-div .photo-upload .flex-div .input-desc {
  color: #666666;
  font-size: 12px;
}
.flex-class .next-button {
  background-color: #3fd28b;
  color: #1f2834;
  font-size: 14px;
  padding: 5px 27px;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2392156863);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.flex-class .next-button:hover {
  cursor: pointer;
  transform: translateY(-0.2em);
}/*# sourceMappingURL=personal-info.component.css.map */