<div class="main">
    <form>
        <div class="form-title">
            <div class="title">Log In</div>
        </div>
        <div class="username-div">
            <input type="text" class="username-password-input input-underline" name="Username" id="username"
                placeholder="Email ID*">
            <div class="forgot-labels">FORGOT Email ID?</div>
        </div>
        <div class="password-div">
            <div class="input-underline password-flex">
                <input type="password" class="state-input" name="State" id="password" placeholder="Password*">
                <img src="../../assets/svgs/preview.svg" alt="preview">
            </div>
            <div class="forgot-labels">FORGOT PASSWORD?</div>
        </div>
        <div class="rememberme-div">
            <input type="checkbox" name="RememberMe" id="rememberme" class="input-icon">
            <label for="rememberme">Remember Me</label>
        </div>
        <div class="submit">LOG IN</div>
    </form>
</div>