<div class="edblueline">
    <div class="edtitle">Educational Qualifications</div>
    <!-- <div class="verline">

    </div> -->
    <img class="uparrow" src="/assets/svgs/chevron-up-solid.svg" alt="up arrow" />
</div>
<div class="Edqualifications">
    <div class="data-div1">
        <div class="label">Aggregate Percentage*</div>
        <input type="number" class="text-input num" [(ngModel)]="educational.Percentage"
            (change)="updateEduQualificationInfo()" placeholder="Enter Percentage">
    </div>
    <div class="data-div1">
        <div class="label">Year of Passing*</div>
        <select required="true" class="customInput arrow" [(ngModel)]="educational.YearOfPassing"
            (change)="updateEduQualificationInfo()" name="state">
            <option class="option" value="2020" selected>2020</option>
            <option class="option" value="2019">2019</option>
            <option value="2018" class="option">2018</option>
            <option value="2017" class="option">2017</option>
            <option value="2016" class="option">2016</option>
        </select>
        <!-- <input type="text" class="text-input" placeholder="Enter year"> -->
    </div>
    <div class="data-container">
        <div class="data-div">
            <div class="label">Qualification*</div>
            <select required="true" class="customInput customInput1 arrow" [(ngModel)]="educational.Qualification"
                (change)="updateEduQualificationInfo()" name="state">
                <option class="option" value="Bachelor in Technology (B.Tech)" selected>Bachelor in Technology (B.Tech)
                </option>
                <option class="option" value="2019">2019</option>
                <option value="2018" class="option">2018</option>
                <option value="2017" class="option">2017</option>
                <option value="2016" class="option">2016</option>
            </select>
            <!-- <input type="text" class="text-input" placeholder="Enter Degree"> -->
        </div>
        <div class="data-div">
            <div class="label">Stream*</div>
            <select required="true" class="customInput customInput1 arrow" [(ngModel)]="educational.Stream"
                (change)="updateEduQualificationInfo()" name="state">
                <option class="option" value="Information Technology" selected>Information Technology</option>
                <option class="option" value="2019">2019</option>
                <option value="2018" class="option">2018</option>
                <option value="2017" class="option">2017</option>
                <option value="2016" class="option">2016</option>
            </select>
            <!-- <input type="text" class="text-input" placeholder="Enter Stream"> -->
        </div>
    </div>
    <div class="data-container">
        <div class="data-div">
            <div class="label">College*</div>
            <select required="true" class="customInput customInput1 arrow" [(ngModel)]="educational.College"
                (change)="updateEduQualificationInfo()" name="state">
                <option class="option" value="Pune Institute of Technology (PIT)" selected>Pune Institute of Technology
                    (PIT)</option>
                <option class="option" value="2019">2019</option>
                <option value="2018" class="option">2018</option>
                <option value="2017" class="option">2017</option>
                <option value="2016" class="option">2016</option>
            </select>
            <!-- <input type="text" class="text-input" placeholder="Enter College"> -->
        </div>
        <div class="data-div">
            <div class="label">If others, please enter your college name</div>
            <input type="text" class="text-input" placeholder="Enter College" [(ngModel)]="educational.otherCollege"
                (change)="updateEduQualificationInfo()" />
        </div>
    </div>
    <div class="data-div1">
        <div class="label">Where is your college located?*</div>
        <input type="text" class="text-input" placeholder="Enter City" [(ngModel)]="educational.collegeLocation"
            (change)="updateEduQualificationInfo()" />
    </div>
</div>