$bgcolor: #ffffff;
$labelcolor: #666666;
$seperatorcolor: #6666663d;
$inputcolor: #222222;
$accentcolor: #1f7a54;
$buttonbgcolor: #3fd28b;
$buttoncolor: #25313f;
$buttonshadow: 0rem 0.3rem 0.5rem #0000003d;
$divshadow: 0rem 0.4rem 0.6rem #0000003d;
$dropdowntitlecolor: #dbefff;
$fontsize12: 1.2rem;
$fontsize14: 1.4rem;
$fontsize16: 1.6rem;
$fontsize20: 2rem;
$fontsize22: 2.2rem;
$fontsize24: 2.4rem;

.role-desc {
  background-color: $bgcolor;
  box-shadow: $divshadow;

  .role-desc-header {
    background-color: $dropdowntitlecolor;
    display: flex;
    align-items: center;
    cursor: pointer;

    .role-title {
      font-size: $fontsize16;
      padding: 1.6rem;
    }

    .expand-icon {
      margin-left: auto;
      padding: 0.8rem 0.6rem;
      // height: auto;
      border-left: 0.1rem solid $seperatorcolor;
      display: flex;

      .rotated-image {
        transition: transform 0.5s ease;
      }

      .rotated {
        transform: rotate(180deg);
      }
    }
  }

  .role-desc {
    overflow: hidden;
    transition: all 0.5s ease;

    .desc-title {
      font-size: $fontsize12;
      color: $labelcolor;
      // margin-left: 1.6rem;

      margin: 1.6rem 1.6rem;
      .desc {
        margin: 1.6rem 0;

        font-size: $fontsize14;
        color: $inputcolor;
      }

      .line-seperator {
        width: 100%;
        background-color: $seperatorcolor;
        height: 0.1rem;
      }
    }
  }

  .invisible {
    height: 0;
  }

  .visible {
    height: auto;
  }
}
